################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/4a524d10-1b54-4412-ade9-ae1423220c5a.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/4e059cc4-cf11-4604-9249-ccdb099a500d.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/173135d3-8816-48cf-a4f6-644218b919dc.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/5eb25618-b842-4e76-8fb6-a2fa2fbcaf09.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/8fb8cdaf-7892-43c9-a127-056f4a6d67b3.vsidx
