################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/10eb4247-b7c1-405a-a835-6d4ea5e9ce88.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/5f82a229-826f-49db-83ae-258bd78a37bb.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/fad8d1a0-7619-4f13-ba4f-fe3fcd1fb199.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/15095297-6572-4bdb-8f68-2d3334870ee6.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/ff5aab9e-b1e2-4f65-9bdc-b2a9a454f340.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/a78f7839-64e5-461c-b867-a16751b8bcd2.vsidx
