################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/4a524d10-1b54-4412-ade9-ae1423220c5a.vsidx
/PaleoPinesDinoStudio/.vs/PaleoPinesDinoStudio.slnx/FileContentIndex/4e059cc4-cf11-4604-9249-ccdb099a500d.vsidx
